
@{
    ViewData["Title"] = "Error";
}

<h1>Customer Status</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Car Name</th>
            <th scope="col">Car Color</th>
            <th scope="col">Car Price</th>
            <th scope="col">Car Category</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>No Records Found!</td></tr>
    </tbody>
</table>
