
@{
    ViewData["Title"] = "Error";
}

<h1>Customer Status</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">SSN ID</th>
            <th scope="col">Status</th>
            <th scope="col">Message</th>
            <th scope="col">Last Updated</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>No Records Found!</td></tr>
    </tbody>
</table>